%star-rating {
    @include flexbox(start);

    .ic-star {
        color:$border;

        &.is-active {
            color: $blue;
        }
    }
}


.star-rating-13 {
    @extend %star-rating;
    font-size: 13px;
}

.star-rating-16 {
    @extend %star-rating;
    font-size: 16px;
}


.star-rating-20 {
    @extend %star-rating;
    font-size: 20px;
}

/*
        <div class="star-rating-20">
            <i class="ic-star is-active"></i>
            <i class="ic-star is-active"></i>
            <i class="ic-star is-active"></i>
            <i class="ic-star"></i>
            <i class="ic-star"></i>
        </div>
    </div>

    */