

$black:#000000;
$dark:#191A20;
$primary:#3F4150;
$secondary:#8C8D96;
$tertiary:#B2B3B9;
$border:#E0E2E7; //백그라운드 보다 진하면 거의 보더
$background:#F7F8FA;  //흰색 바로 위에는 거의 백그라운드로 사용
$white:#FFFFFF;

$blue:#3DA5F5;
$blue-dark:#3186C4;
$blue-light:#ECF6FE;


$red:#F86D7D;
$green:#22C58B;


//figma에서 색상찾기 - [영역 프레임 후 select color에 원하는 컬러  