 // 기본 폰트 사이즈 
$font_size_12 : 12px;
$line_height_12 :16px;
$letter_spacing_12 : -0.005em;

$font_size_13 : 13px;
$line_height_13 :20px;
$letter_spacing_13 : -0.001em;

$font_size_14 : 14px;
$line_height_14 :24px;
$letter_spacing_14 : -0.001em;

$font_size_16 : 16px;
$line_height_16 :24px;
$letter_spacing_16 : -0.001em;

$font_size_18 : 18px;
$line_height_18 :28px;
$letter_spacing_18 : -0.002em;

$font_size_24 : 24px;
$line_height_24 :34px;
$letter_spacing_24 : -0.001em;